In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import roc_curve

In [7]:
dataset=pd.read_csv('C:/Users/Thanuja.K/Documents/Thanuja/Machine Learning/DataSets/Visitor_Prediction_Multiple_Linear_Regression_data.csv')

In [20]:
dataset.describe()

,Views_show,Visitors,Views_platform,Ad_impression,Cricket_match_india,Character_A,Unnamed: 7
count,80.000000,8.000000e+01,8.000000e+01,8.000000e+01,80.000000,80.000000,0.0
mean,289902.625000,1.699066e+06,2.222401e+06,1.442374e+09,0.100000,0.375000,NaN
std,154924.323585,2.311571e+05,2.913510e+05,2.983186e+08,0.301893,0.487177,NaN
min,102520.000000,1.248183e+06,1.690727e+06,1.010868e+09,0.000000,0.000000,NaN
25%,185353.250000,1.550766e+06,2.010816e+06,1.207911e+09,0.000000,0.000000,NaN
50%,235807.000000,1.698843e+06,2.226270e+06,1.385931e+09,0.000000,0.000000,NaN
75%,350079.000000,1.817895e+06,2.388837e+06,1.632416e+09,0.000000,1.000000,NaN
max,758631.000000,2.344650e+06,3.064422e+06,2.424203e+09,1.000000,1.000000,NaN

In [21]:
x=dataset[['Views_show','Views_platform']]
y=dataset[['Visitors']]

In [15]:
X_train, X_test, y_train, y_test = train_test_split(x, y)

In [16]:
linear_regression=LinearRegression()

In [17]:
linear_regression.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [18]:
y_pred=linear_regression.predict(X_test)

In [19]:
y_pred

array([[1792189.51429401],
       [1793430.70728952],
       [1326976.91984958],
       [1527019.82282415],
       [1753392.29879233],
       [1738242.76293947],
       [1772591.12422694],
       [1478604.73753141],
       [1648922.71357517],
       [1397894.28882384],
       [1513832.63286346],
       [1627262.7003139 ],
       [1381985.74649758],
       [1853558.8851822 ],
       [1630887.10426876],
       [1837956.08649857],
       [1673545.99588848],
       [1771963.91834564],
       [1774028.3442158 ],
       [1300674.25836159]])